* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 10px;
}

body {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    overflow: hidden;
}


header {
    height: 15vh;
    width: 100vw;
    background-color: #fff;
    color: #24272e;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    line-height: 15vh;
}

main {
    height: 85vh;
    width: 100vw;
    background-color: #24272e;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;


}

.items {
    font-size: 10rem;
    flex-grow: 3;
    cursor: pointer;


}

.items:hover {
    color: #ccdb6b;
}

.confirm {
    color: #fff;
    background-color: #24272e;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    cursor: pointer;
    flex-basis: 100%;
    text-transform: uppercase;
}

.confirm:hover {
    color: #ccdb6b;
}

.score {
    font-size: 5rem;
    flex-basis: 100%;
}

h1 {
    flex-basis: 100%;
    font-size: 3rem;
}

@media (max-width:400px) and (max-height:600px) {

    .items {
        font-size: 7rem;

    }

    .score {
        font-size: 4rem;
    }

    h1 {
        font-size: 2rem;
    }

    .confirm {
        font-size: 2rem;
    }
}

@media (max-width:420px) and (min-height:600px) {
    .items {
        font-size: 8rem;
    }


}